<!DOCTYPE HTML>

<html>
	<head>
		<title>Guidance Website</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />

		<script src="js/skel.min.js"></script>
		
		<script src="js/init.js"></script>
		<noscript>
			<link rel="stylesheet" href="css/skel-noscript.css" />
			<link rel="stylesheet" href="css/style.css" />
			
			
			
		</noscript>
		<link rel="stylesheet" href="css/tooplate_style.css"  />
		<script language="javascript" type="text/javascript">
			function clearText(field)
			{
				if (field.defaultValue == field.value) field.value = '';
				else if (field.value == '') field.value = field.defaultValue;
			}
		</script>

	</head>
	<body>
	
	
	
	<div id="tooplate_header_wrapper">
		<div id="tooplate_header">
		
			<div id="site_title">
				<h1><a href="poge.html" rel="nofollow"><img src="images/sml.png" alt="logo" height="60" width="60" /><span>John Ruskin</span></a></h1>
			</div> <!-- end of site_title -->
			

			
			
			<div id="header_right">
			
				<div id="social_box">
	        <ul>
          <li class="active"><a href="index.html">Home</a></li>
          <li><a href="poge.html">Profile</a></li>          
          <li><a href="blog.html">Logout</a></li>
        </ul>
					<div class="cleaner"></div>
				</div>   
			<div id="site_info">
				</br>
			</div> <!-- end of site_title -->
			<div id="site_info">
				<p>Total Question asked: 32</p> <p>Total Question closed/starred: 21</p><p>Profile Score: 412</p>
			</div> <!-- end of site_title -->
 
			</div>
		
		</div>
	</div>
		<div id="wrapper">
			<div class="container" id="page-wrapper">
				<div class="row">
					<div class="3u">
						<section id="pbox1">
						
							<h2>Fields of Interest</h2>
							<div class="style5" align="right">
								<p><a href="support.html">add</a>|<a href="support.html">remove</a></p>
							</div>
							<ul class="style3">
								<li class="first">
									
									<a href="log2.html">Java </a>
								</li>
								<li>
									
									<a href="log2.html">Maths</a>
								</li>
								<li>
									
									<a href="log2.html">Biology </a>
								</li>
								<li>
									
									<a href="log2.html">Physics </a>
								</li>
								<li>
									
									<a href="log2.html">Machine Learning </a>
								</li>
								<li>
									
									<a href="log2.html">Chemistry </a>
								</li>
								<li>
									
									<a href="log2.html">Grammmatical and Writing Skills (in English)  </a>
								</li>
								
							</ul>
							<p><a href="#" class="button-style1">More ...</a></p>
							<p><a href="loge.html"> List of Guidees </a></p>
						</section>
					</div>
					<div class="6u">
						<section >
							<h2>Starred Questions</h2>
							
							<strong >Filter: </strong>
							<div id="search_box">
							
								<form action="#" method="get">
									
								  <select  name="fields" id="searchfield" onfocus="clearText(this)" onblur="clearText(this)">
									<option value="Java">Java</option>
									<option value="Maths">Maths</option>
									<option value="Biology">Biology</option>
									<option value="Machine Learning">Machine Learning</option>
									<option value="Chemistry">Chemistry</option>
									<option value="Grammmatical and Writing Skills (in English)">Grammmatical and Writing Skills (in English)</option>
									
								  </select>
  
									
								  <input type="submit" name="Search" value="" id="searchbutton" title="Search" />
								</form>
							</div>
							<ul class="style4">
							<p ></p>
								<li class="first">
									<p class="date">February 01, 2022</p>
									<a href="qag.html">How to use the Gauss' Law to determine the Electric Field at a distance 'a' from the centre of uniformly charged hollow sphere?</a>
								</li>
								<li>
									<p class="date">January 31, 2022</p>
									<a href="qag.html">How to prove that a function which is differentiable in an interval is also continuous in it?</a>
								</li>
								<li>
									<p class="date">December 21, 2021</p>
									<a href="qag.html">How can we justify the process of Natural Selection using the example of the peppered-moths of England(an example called Industrial Melanism)? </a>
								</li>
								<li>
									<p class="date">December 11, 2021</p>
									<a href="qag.html">Please clarify how to go on about my Organic Chemistry preparations for IIT-JEE? </a>
								</li>
								<li>
									<p class="date">December 21, 2021</p>
									<a href="qag.html">Kindly guide me how to use the HC Verma books Volume I and II for clarifying my concepts in Physics? </a>
								</li>
							</ul>
							<p><a href="#" class="button-style1">More ...</a></p>
							
						</section>
					</div>
					<div class="3u">
						<section>
							<h2>Contacts/Missed Calls</h2>
							<ul class="style5">
								<li class="first"><p class="date"><a href="#">February 01, 2022</a></p>
								<img src="images/from.png" width="15" height="15" /><a href="pog.html">Patrick Mitchell</a></li>
								<li><p class="date">February 09, 2022</p>
								<img src="images/to.png" width="15" height="15" /><a href="pog.html">John Smith</a></li>
								<li><p class="date">January 23, 2022</p>
								<img src="images/from.png" width="15" height="15" /><a href="pog.html">Ashish Verma</a></li>
								<li><p class="date">January 12, 2022</p>
								<img src="images/from.png" width="15" height="15" /><a href="pog.html">Subramaniam Chandrashekhar </a></li>
								<li><p class="date">December 27, 2021</p>
								<img src="images/missedcall.png" width="15" height="15" /><a href="pog.html">Abhishek Ranade</a></li>
								<li><p class="date">December 05, 2021</p>
								<img src="images/to.png" width="15" height="15" /><a href="pog.html">Jayprakash Bose</a></li>
							</ul>
							<p><a href="#" class="button-style1">More ...</a></p>
						</section>
					</div>
				</div>
			</div>

		</div>
		
		<div id="tooplate_footer">
			<p>Copyright &copy; 2022 | Team C FYEng. IITJ  </p>
		</div>
		
		
		
		
		 
	</body>
</html>