<Doctype! html>
    <html>

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="stlog.css">
        <title>List of Guides</title>
    </head>

    <body>
        <div class="header">
        <h1 class="field">Field name </h1>
        <br>
        <h2 class="guides"> Guides </h2>
        </div>
        <hr>
        <div >
            <table class="list">
                <tr class="row">
                    <th class="name">Name</th>
                    <th class="level">Level</th>
                    <th class="Qual">Qualification</th>
                    <th class="rating">Rating</th>
                </tr>
                <tr>
                    <td class="name"><a href="pog.html" class="a" >Ayush</a></td>
                    <td>Level 6</td>
                    <td class="Qual">B.tech IIT</td>
                    <td>*****</td>
                </tr>
                <tr>
                    <td class="name"><a href="pog.html" class="a" >Ayush</a></td>
                    <td>Level 6</td>
                    <td class="Qual">B.tech IIT</td>
                    <td>*****</td>
                </tr>
                <tr>
                    <td class="name"><a href="pog.html" class="a" >Ayush</a></td>
                    <td>Level 6</td>
                    <td class="Qual">B.tech IIT</td>
                    <td>*****</td>
                </tr>
                <tr>
                    <td class="name"><a href="pog.html" class="a" >Ayush</a></td>
                    <td>Level 6</td>
                    <td class="Qual">B.tech IIT</td>
                    <td>*****</td>
                </tr>
                <tr>
                    <td class="name"><a href="pog.html" class="a" >Ayush</a></td>
                    <td>Level 6</td>
                    <td class="Qual">B.tech IIT</td>
                    <td>*****</td>
                </tr>
                <tr>
                    <td class="name"><a href="pog.html" class="a" >Ayush</a></td>
                    <td>Level 6</td>
                    <td class="Qual">B.tech IIT</td>
                    <td>*****</td>
                </tr>
                <tr>
                    <td class="name"><a href="pog.html" class="a" >Ayush</a></td>
                    <td>Level 6</td>
                    <td class="Qual">B.tech IIT</td>
                    <td>*****</td>
                </tr>
                <tr>
                    <td class="name"><a href="pog.html" class="a" >Ayush</a></td>
                    <td>Level 6</td>
                    <td class="Qual">B.tech IIT</td>
                    <td>*****</td>
                </tr>
                <tr>
                    <td class="name"><a href="pog.html" class="a" >Ayush</a></td>
                    <td>Level 6</td>
                    <td class="Qual">B.tech IIT</td>
                    <td>*****</td>
                </tr>
                <tr>
                    <td class="name"><a href="pog.html" class="a" >Ayush</a></td>
                    <td>Level 6</td>
                    <td class="Qual">B.tech IIT</td>
                    <td>*****</td>
                </tr>

                
                
            </table>
            <hr>
            <form>
                <label class="label">Question:-</label>
                <textarea class="question" cols="400" rows="6">Type your Question here</textarea>
                <a href="qadg.html"><button class="sbmtq" onclick=sbmtqf()>Submit</button></a>
            </form>

        </div>
        <Script src= "jslog.js"></Script>
    </body>

    </html>
