<Doctype! html>
    <html>

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="stloge.css">
        <title>List of Guides</title>
    </head>

    <body>
        <div class="header">
        <h1 class="field">Field name </h1>
        <br>
        <h2 class="guidees"> Guidees </h2>
        </div>
        <hr>
        <div >
            <table class="list">
                <tr class="row">
                    <th class="name">Name</th>
                    <th class="rating">Rating</th>
                </tr>
                <tr class="r">
                    <td class="name"><a href="file:///C:/Web%20D/Html/Web%20pages/poge.html" class="a" >Ayush</a></td>
                    <td>*****</td>
                </tr>
                <tr class="rq">
                    <td colspan="2">Question:- Here the question by guidee is displayed</td>
                </tr>
                <tr class="r">
                    <td class="name"><a href="file:///C:/Web%20D/Html/Web%20pages/poge.html" class="a" >Ayush</a></td>
                    <td>*****</td>
                </tr>
                <tr class="rq">
                    <td colspan="2">Question:- Here the question by guidee is displayed</td>
                </tr>
                <tr class="r">
                    <td class="name"><a href="file:///C:/Web%20D/Html/Web%20pages/poge.html" class="a" >Ayush</a></td>
                    <td>*****</td>
                </tr>
                <tr class="rq">
                    <td colspan="2">Question:- Here the question by guidee is displayed</td>
                </tr>
                <tr class="r">
                    <td class="name"><a href="file:///C:/Web%20D/Html/Web%20pages/poge.html" class="a" >Ayush</a></td>
                    <td>*****</td>
                </tr>
                <tr class="rq">
                    <td colspan="2">Question:- Here the question by guidee is displayed</td>
                </tr>
                <tr class="r">
                    <td class="name"><a href="file:///C:/Web%20D/Html/Web%20pages/poge.html" class="a" >Ayush</a></td>
                    <td>*****</td>
                </tr>
                <tr class="rq">
                    <td colspan="2">Question:- Here the question by guidee is displayed</td>
                </tr>
                <tr class="r">
                    <td class="name"><a href="file:///C:/Web%20D/Html/Web%20pages/poge.html" class="a" >Ayush</a></td>
                    <td>*****</td>
                </tr>
                <tr class="rq">
                    <td colspan="2">Question:- Here the question by guidee is displayed</td>
                
                
                
            </table>
            <hr>

        </div>
    </body>

    </html>
