<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="stpog.css">
        <title>
            Profile of guide</title>
    </head>
    <body>
        <h1> Profile of guide</h1>
        <br>
        <div class="row">
            <div class="column cert">
                <img src="file:///C:/Users/sakam/Pictures/Saved%20Pictures/Scan%2009%20Nov%2020201024_1.jpg"
                    alt="certificate" width="100px" height="250px">
            </div>
            <div class="column prof">
                <img src="file:///C:/Users/sakam/Documents/Photo.jpeg" ,alt="profile pic" width="50px"
                    height="100px">
                <p class="name">Name</p>
            </div>
            <div class="column perf">
                <p class="pd">
                    Level:- 6 <br> Rating :- *****
                </p>

            </div>
        </div>
        <div class="hr">
            <p></p>
            <p><hr></p>
            
        </div>
        <div class="ques">
            <form>
                <label for=""> Question:-</label>
                <br>
                <textarea class="in" rows="11">Type your Question here</textarea>
                <br>
                <input class="sbmt" type="submit" value="submit" onclick=qagf()>
            </form>
        </div>
        <div style="clear:both"><br><hr></div>
        <div class="btm">
            <div >Review:-
            </div>
            <div><textarea class="rev" cols="400" rows="2"></textarea></div>
            <button type="button" onclick=shrevs() >Show all reviews</button>
        </div>
        <div id="rvs">
            <div class="revs revl">Vilok:-</div>
            <div class="revs revl"><label>Best guidance I got</label></div>
            <div class="revs revl">Vilok:-</div>
            <div class="revs revl"><label>Best guidance I got</label></div>
            <div class="revs revl">Vilok:-</div>
            <div class="revs revl"><label>Best guidance I got</label></div>
            <div class="revs revl">Vilok:-</div>
            <div class="revs revl"><label>Best guidance I got</label></div>
        </div>
            
        </div>
        <Script src="jspog.js"></Script>
    </body>
</html>