<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="stpoge.css">
        <title>
            Profile of guidee</title>
    </head>
    <body>
        <h1 style="text-align:center"> Profile of guidee</h1>
        <br>
        <div class="row">
            <div class="column cert">
                <p class="left">Details:- <br><br> Qualifications:- <br><br> Interested fields:- </p>
            </div>
            <div class="column prof">
                <img src="file:///C:/Users/sakam/Documents/Photo.jpeg" ,alt="profile pic" width="50px"
                    height="100px">
                <p class="name">Name</p>
            </div>
            <div class="column perf">
                <p class="pd">
                    Rating :- *****
                </p>

            </div>
            <p>Available mode:-</p>
        </div>
        <div class="hr">
            <p></p>
            <p><hr></p>
            
        </div>
        <div class="ques">
            <form>
                <label for=""> Question:-</label>
                <br>
                <textarea class="in" rows="11">Question will be displayed here</textarea>
                <br>
            </form>
        </div>
        <div style="clear:both"><br><hr></div>
        <div class="btm">
            <p >Reviews:-
            </p>
            
        </div>
    </body>

</html>