<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="stqadg.css">
        <title>Q&A by guide</title>
    </head>
    <body>
        <div class= "ques">
            <p style="text-align:left;padding-top:0%">Question</p>
        </div>
        <div>
            <hr>
        </div>
        <div class= "qac">
            <div class="qa">
                <div class="gi gi1">
                    <a href="pog.html"><p class="gie gn gn1" onclick=pogf()>Ayush</p></a>
                    <p class="gie gq gq1">B.tech IIT</p>
                    <p class="gie gl gl1">Level 6</p>
                    <p class="gie gr gr1">*****</p>
                </div>
                <div class=" qai qa1">
                    <p class="q">Question</p>
                    <p class="a">Answer</p>
                </div>
                <div class="gi gi1">
                    <a href="pog.html"><p class="gie gn gn1" onclick=pogf()>Ayush</p></a>
                    <p class="gie gq gq1">B.tech IIT</p>
                    <p class="gie gl gl1">Level 6</p>
                    <p class="gie gr gr1">*****</p>
                </div>
                <div class=" qai qa1">
                    <p class="q">Question</p>
                    <p class="a">Answer</p>
                </div>
                <div class="gi gi1">
                    <a href="pog.html"><p class="gie gn gn1" onclick=pogf()>Ayush</p></a>
                    <p class="gie gq gq1">B.tech IIT</p>
                    <p class="gie gl gl1">Level 6</p>
                    <p class="gie gr gr1">*****</p>
                </div>
                <div class=" qai qa1">
                    <p class="q">Question</p>
                    <p class="a">Answer</p>
                </div>
                <div class="gi gi1">
                    <a href="pog.html"><p class="gie gn gn1" onclick=pogf()>Ayush</p></a>
                    <p class="gie gq gq1">B.tech IIT</p>
                    <p class="gie gl gl1">Level 6</p>
                    <p class="gie gr gr1">*****</p>
                </div>
                <div class=" qai qa1">
                    <p class="q">Question</p>
                    <p class="a">Answer</p>
                </div>
                <div class="gi gi1">
                    <a href="pog.html"><p class="gie gn gn1" onclick=pogf()>Ayush</p></a>
                    <p class="gie gq gq1">B.tech IIT</p>
                    <p class="gie gl gl1">Level 6</p>
                    <p class="gie gr gr1">*****</p>
                </div>
                <div class=" qai qa1">
                    <p class="q">Question</p>
                    <p class="a">Answer</p>
                </div>
                <div class="gi gi1">
                    <a href="pog.html"><p class="gie gn gn1" onclick=pogf()>Ayush</p></a>
                    <p class="gie gq gq1">B.tech IIT</p>
                    <p class="gie gl gl1">Level 6</p>
                    <p class="gie gr gr1">*****</p>
                </div>
                <div class=" qai qa1">
                    <p class="q">Question</p>
                    <p class="a">Answer</p>
                </div>
                <div class="gi gi1">
                    <a href="pog.html"><p class="gie gn gn1" onclick=pogf()>Ayush</p></a>
                    <p class="gie gq gq1">B.tech IIT</p>
                    <p class="gie gl gl1">Level 6</p>
                    <p class="gie gr gr1">*****</p>
                </div>
                <div class=" qai qa1">
                    <p class="q">Question</p>
                    <p class="a">Answer</p>
                </div>
                
            </div>
        <script src="jsqadg.js">
        </script>
    </body>
</html>