<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="stqag.css">
        <title>Q&A by guide</title>
    </head>
    <body>
        <div class= "ques">
            <p style="text-align:left;padding-top:0%">How to use the Gauss' Law to determine the Electric Field at a distance 'a' from the centre of uniformly charged hollow sphere?</p>
        </div>
        <div>
            <hr>
        </div>
        <div class= "qac">
            <div class="qa">
                <div class=" qai qa1">
                    <p class="q">Question</p>
                    <p class="a">Answer</p>
                </div>
                <div class=" qai qa2">
                    <p class="q">Question</p>
                    <p class="a">Answer</p>
                </div>
                <div class=" qai qa3">
                    <p class="q">Question</p>
                    <p class="a">Answer</p>
                </div>
                <div class=" qai qa4">
                    <p class="q">Question</p>
                    <p class="a">Answer</p>
                </div>
                <div class=" qai qa5">
                    <p class="q">Question</p>
                    <p class="a">Answer</p>
                </div>
                <div class=" qai qa6">
                    <p class="q">Question</p>
                    <p class="a">Answer</p>
                </div>
            </div>
            <div class="cnct">
                <div class="cncti cnctm">
                    <span>Connect mode :-</span>
                </div>
                <button type="button" value="Chat" class="btn btnch">Chat</button>
                <button type="button" value="Audio Call" class="btn btnac">Audio Call</button>
                <button type="button" value="Video Call" class="btn btnvc">Video Call</button>
            </div>
    </body>
</html>