<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="stye.css">
</head>

<body>
    <div class="main">
        <div class="signup">
            <div class="login_logo">
                <h1>Easy guidance app</h1>
            </div>
            <h1>
                Sign up
            </h1>

            <div class="sidebyside">
                <div class="first">

                    <h3>Basic Details</h3>
                    <form action="">
                        <label for="">
                            Name
                        </label><br>
                        <input type="text" class="inputboxs" required><br><br>
                        <label for="">Surname</label><br>
                        <input type="text" class="inputboxs" required><br><br>
                        <label for="">Phone no</label><br>
                        <input type="" maxlength="10" class="inputboxs" required><br><br>
                        <label for="">DOB</label><br>
                        <input type="date" class="inputboxs" required>
                    </form>


                </div>
                <div class="second">
                    <h3>Create login credential</h3>
                    <form action="">
                        <label for="">
                            Username
                        </label><br>
                        <input type="text" class="inputboxs" required><br><br>
                        <label for="">Password</label><br>
                        <input type="password" class="inputboxs" id="password" required><br><br>
                        <label for="">Confirm Password</label><br>
                        <input type="password" class="inputboxs" id="confirmpassword" onkeyup='check();'
                            required /><span id='message'></span><br><br>
                        <label for="">Recover question?</label><br>
                        <input type="text" class="inputboxs" required><br><br>
                        <label for="">Recovery answer</label><br>
                        <input type="text" class="inputboxs" required><br>
                        <input type="submit" value="Submit" class="click">


                    </form>
                </div>
            </div>
            <div>

            </div>
        </div>
    </div>
    <script>
        var check = function () {
            if (document.getElementById('password').value ==
                document.getElementById('confirmpassword').value) {
                document.getElementById('message').style.color = 'green';
                document.getElementById('message').innerHTML = 'matching';
            } else {
                document.getElementById('message').style.color = 'red';
                document.getElementById('message').innerHTML = 'not matching';
            }
        }
    </script>
</body>


</html>